.toggleHeader:hover {
  cursor: pointer;
  background-color: rgb(66, 66, 66);
  padding: .2rem;
  border-radius: 5px;
}

.fa-pen-to-square:hover {
  cursor: pointer;
  color: green;
}

.content {
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.form-group-inline {
  display: flex;
}